.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;

  &:not(.dark) {
    background-color: #f8f8e1;

//по умолчанию - светлая тема
    .content-container {
      background-color: #f8f8e1;

      h1 {
        background-color: #b5f89b;
        color: black;
      }

      .flashcard-form {
        background-color: rgb(119, 214, 238);

        input {
          background-color: #ffffff;
          border: 1px solid #4a4a4a;
        }

        button {
          background-color: #86f177;
          color: black;
          border: 1px solid #4a4a4a;

          &:hover {
            background-color: #f8d71b;
          }
        }
      }

      .flash-card {
        border: 1px solid #a3a0a0;
        background-color: #f578e4;

        .back, .front {
          border: 1px solid #a3a0a0;
          background-color: #b9fdc2;
        }

        &:hover {
          .back {            
            background-color: #b9fdc2;
            border: 1px solid #4a4a4a;
          }
        }
      }
    }
  }

//темная тема  
  &.dark {
    background-color: #6c61d3;
    color: white;

    .content-container {
      background-color: #6c61d3;

      h1 {
        background-color: #4b209b;
        color: white;
      }

      .flashcard-form {
        background-color: #b779f1;

        input {
          background-color: #f3e0e0;
          border: 1px solid #1d1d1d;
        }

        button {
          background-color: #176eb6;
          color: white;
          border: 1px solid #4a4a4a;

          &:hover {
            background-color: #5711d8;
            border: 1px solid #4a4a4a;
          }
        }
      }

      .flash-card {
        border: 2px solid #1d1d1d;
        background-color: #354205;

        .back, .front {
          background-color: #2b2c27;
          color: #fff;
        }
      }
    }
  }

//общие стили 
  .content-container {
    margin: 0 auto;
    min-width: 700px;
    width: 100%;
    max-width: 1200px;

    h1 {
      text-align: center;
      padding: 20px;
      margin: 0;
    }

    .flashcard-form {
      padding: 20px;

      form {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;

        .form-group {
          flex-grow: 1;
        }

        input {
          padding: 10px;
          border-radius: 5px;
          width: 100%;
          box-sizing: border-box;
        }

        button {
          padding: 10px 20px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
        }
      }
    }

    .flash-cards {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-auto-rows: 200px;
      gap: 15px;
    }

    .flash-card {
      border-radius: 5px;
      position: relative;
      perspective: 1000px;
      cursor: pointer;

      .inner-card {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }

      .back, .front {
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        padding: 15px;
        box-sizing: border-box;
      }

      .back {
        transform: rotateY(180deg);
      }

      &:hover .inner-card {
        transform: rotateY(180deg);
      }

      h2 {
        margin: 0;
        text-align: center;
        word-break: break-word;
      }

// кнопка удаления для обеих тем
      .remove-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #f084b6;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        z-index: 10;
    
        &:hover {
          background-color: #a3054f;
          transform: scale(1.1);
        }
      }
    
      &:hover .remove-btn {
        opacity: 1;
      }

//кнопка прохождения карточки и изменение стилей после отметки
      &.completed {
        border: 2px solid #12b60c;
        box-shadow: 0 0 10px rgba(46, 204, 113, 0.3);
  
        .inner-card .front,
        .inner-card .back {
          background-color: rgba(46, 204, 113, 0.1);
        }
      }
  
      .complete-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid #2ecc71;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    
        &:hover {
          background-color: rgba(46, 204, 113, 0.1);
        }
    
        &.completed {
          background-color: #354205;
          color: white;
        }
      }
    }
  }
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
  margin-left: 20px;
  color: inherit;
}